# --- Large Data & Training Artifacts ---
dataset/
!dataset/final_split/
runs/
*.pt
wandb/

# --- Python & Environment ---
.venv/
__pycache__/
*.py[cod]
*$py.class
.env

# --- IDE & Tooling ---
.idea/
.fastRequest/
.vscode/

# --- OS specific ---
.DS_Store
Thumbs.db